/* Reset some default browser styles */
@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&family=Montserrat:wght@100;500;700&family=New+Tegomin&family=Nunito:wght@200&family=Poppins:wght@300&family=Roboto:wght@900&display=swap");

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2023/01/group-of-number-coins.jpg");
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#wrapper {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  background: linear-gradient(
    to right,
    #ffdd00,
    #c7f303ae,
    rgba(109, 233, 27, 0.698)
  );
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the background image covers the entire wrapper */
  z-index: -1;
}

.wrapper-2 {
  position: relative;
  z-index: 1; /* Place the content above the background image */
}

h1 {
  color: #2c2b2b;
  font-size: 35px;
  font-weight: 1000;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #007bffda, #5bc0deda);
  padding: 15px;
  letter-spacing: 5px;
}

p {
  color: #424141;
  font-size: 16px;
  margin: 20px;
}

form.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

label {
  font-weight: bold;
  color: #282828;
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 10px;
}

input.guessField {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and borders are included in the element's width */
  background: transparent;
}

input.guessSubmit {
  background: linear-gradient(to right, #3498db, #2980b9);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  letter-spacing: 5px;
  font-weight: 600;
}

input.guessSubmit:hover {
  background: linear-gradient(to bottom, #2980b9, #3498db);
}

.resultParas {
  text-align: left;
  margin-top: 20px;
}

.resultParas p {
  font-size: 16px;
  color: #333;
}

.guesses {
  font-weight: bold;
}

.lastResult {
  font-weight: bold;
  font-size: 25px;
  color: #da4f4a;
}

/* Style for display messages */
.lowOrHi {
  font-weight: bold;
  color: #075d77;
  font-size: 3cqmin;
  margin-top: 10px;
}
.validate {
  font-weight: bold;
  color: #b30707;
  font-size: 3cqmin;
  margin-top: 10px;
}

.lowOrHi h2 {
  margin: 0;
  padding: 0;
}

.correct {
  font-weight: bold;
  color: #008300;
  font-size: 25px;
  margin-top: 10px;
  font-size: 40px;
  text-align: center;
}

.attemptC {
  font-weight: bold;
  color: red;
  font-size: 25px;
  margin-top: 10px;
  font-size: 40px;
  text-align: center;
}

.correct h2 {
  margin: 0;
  padding: 0;
}

/* Style for the game over message */
.gameOver {
  display: none;
  margin: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.gameOver button {
  width: 40%;
  background: linear-gradient(to right, #4caf50, #388e3c);
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 5px;
}

.gameOver button:hover {
  background: linear-gradient(to bottom, #388e3c, #4caf50);
}

/* Responsive design for smaller screens */
@media screen and (max-width: 480px) {
  #wrapper {
    padding: 10px;
    max-width: 90%;
  }
}
