@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&family=Montserrat:wght@100;500;700&family=New+Tegomin&family=Nunito:wght@200&family=Poppins:wght@300&family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 70px auto 20px;
  padding: 40px 30px 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #3498db, #1abc9c);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.todo .title {
  text-transform: uppercase;
  color: #002765;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 40px;
  background: linear-gradient(to bottom, #003892, #a50145);
  -webkit-background-clip: text; /* For webkit-based browsers */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todo h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 18px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 40px;
  transition: background 0.3s ease; /* Add a smooth transition for background color change */
}

button:hover {
  background: linear-gradient(to bottom, #fc432e, #ff2a1e); /* Change the background color on hover */
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  background: #ff5945;
  color: black;
}

#message {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error {
  color: rgb(137, 4, 4);
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  width: 100%;
  border: 1px solid;
  letter-spacing: 3px;
  font-size: 18px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
  font-weight: bold;
}
.success {
  color: rgb(8, 82, 1);
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  width: 100%;
  border: 1px solid;
  letter-spacing: 3px;
  font-size: 18px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  font-weight: 600;
}


